:root {
  --bg-color: #181829;
  --text-color: #ddd;
  --text-color-1: #c4c3c3;
  --anchor-color: #8880fd;
  --purple: #20205c;
  --dark-purple: #181829;
  --light-purple: #8a87ff;
}

@font-face {
  font-family: "Press-Start";
  src: url("assets/press-start-2p.woff2");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: radial-gradient(
    circle at 0% 125%,
    var(--purple),
    var(--dark-purple),
    var(--dark-purple)
  );
  overflow: hidden;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),
    auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 2.3rem 3rem 2rem;
  border-bottom: 1px solid #9686df1a;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.header__logo_pageName {
  color: var(--text-color);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "Press-Start";
}

.header__logo_img {
  width: 3.4rem;
  margin-top: 0.3rem;
}

.header__navbar_list {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.header__navbar_list__option a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2rem;
  font-family: "Press-Start";
  font-size: 0.9rem;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
      14 0,
    pointer;
}

.header__navbar_list__option .location {
  color: var(--anchor-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  min-height: calc(100vh - 12rem);
}

.container__toolDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 43rem;
  color: var(--text-color);
}

.container__toolDescription_title {
  font-size: 4rem;
  color: var(--light-purple);
}

.container__toolDescription_description {
  color: var(--text-color-1);
  line-height: 1.6rem;
  font-size: 1.15rem;
  padding: 0.8rem 0 2rem;
}

.btn {
  border-image-source: url(https://d31ss916pli4td.cloudfront.net/game/ui/kit/buttonpurple2.png);
  background: #622aff;
  color: #fff;
  text-shadow: 3px 3px 0 #222044;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
      14 0,
    pointer;
  padding: 0.32rem 0.2rem;
  border-image-slice: 12 12 12 12 fill;
  border-image-width: 0.75rem;
  border-image-outset: 0 0 0 0;
  border-image-repeat: repeat repeat;
  border-style: solid;
  border-radius: 0.75rem;
  border-width: 0.3rem;
  font-size: 1rem;
  margin: 0.4rem;
  font-family: "Press-Start", sans-serif;
  width: 20rem;
  height: 4.2rem;
  text-transform: uppercase;
}

.container__toolDescription button {
  font-size: 0.9rem;
  padding: 0.7rem 2.7rem;
  position: relative;
  border-radius: 0.6rem;
  overflow: hidden;
  transition: all 0.3s;
  box-shadow: inset 0 0 10px rgba(229, 240, 235, 0.4),
    0 0 9px 3px rgba(21, 119, 231, 0.1);
}

.container__toolDescription button:hover {
  color: #fdfdff;
  box-shadow: inset 0 0 10px rgba(136, 161, 241, 0.6),
    0 0 9px 3px rgba(157, 155, 255, 0.2);
}

.container__toolDescription button:active {
  transform: scale(.98);
  transform: translateY(2px);
}

.container__toolDescription button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 14em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(27, 253, 156, 0.1) 40%,
    rgba(59, 92, 243, 0.1) 60%,
    transparent 100%
  );
}

.container__toolDescription button:hover:before {
  transform: translateX(25em);
}

.img_container {
  width: 35rem;
}

.container__landImage {
  width: 35rem;
  justify-self: center;
  align-self: center;
  user-select: none;
  -webkit-user-drag: none;
}

.img_container::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 35rem;
  height: 35rem;
  background: linear-gradient(to top, #181829 5%, transparent 70%);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 6rem;
  color: var(--text-color-1);
}

.footer__rights_social {
  color: var(--anchor-color);
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
      14 0,
    pointer;
}

.footer__socials_icon {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
      14 0,
    pointer;
  width: 3.5rem;
}

.footer__socials {
  display: flex;
  align-items: center;
}

.footer__socials_roninDir {
  background: #25253d;
  padding: 0.2rem 0.7rem;
  border-radius: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #aaa;
}

.ad {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 3.5rem;
  margin-left: 0.2rem;
  background: #fff;
  padding: 0.2rem;
  font-size: 0.8rem;
  color: var(--bg-color);
  border-radius: 0.3rem;
  transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
}

.show_ad {
  opacity: 1;
  visibility: visible;
}
