@import url('/main.css');

.header__navbar_list__option .location {
  color: var(--anchor-color);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  min-height: calc(100vh - 12rem);
  gap: .5rem;
  place-content: initial;
}

iframe {
  height: calc(100vh - 12rem);
  width: 99%;
  border: 1px solid #dddddd42;
  border-bottom: none;
  border-top: none;
}

.container__left-frame {
  border-left: none;  
}

.container__right-frame {
  border-right: none;  
}