@import url('/main.css');

.header__navbar_list__option .location {
  color: var(--anchor-color);
}

body {
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  min-height: calc(100vh - 12rem);
  gap: .5rem;
  place-content: initial;
}

iframe {
  height: calc(100vh - 12rem);
  width: 100%;
  border: 1px solid #dddddd42;
  border-bottom: none;
  border-top: none;
}

.container__left-frame {
  border-left: none;  
}

.container__right-frame {
  border-right: none;  
}

.container__frame {
  position: relative;
  width: 99%;
}

.container__frame_search {
  display: flex;
  gap: .5rem;
  position: absolute;
  left: .7rem;
  top: .7rem;
  padding: .4rem;
  background: #8a89a8;
  border-radius: .3rem;
}

:where(.code-1, .code-2, .search_btn) {
  border: none;
  outline: none;
  background: #ffffff;
  padding: .2rem .3rem;
  border-radius: .3rem;
}

.search_btn {
  background: #622AFF;
  color: #FFF;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background .1s ease-in-out, transform .1s ease-in-out;
}

.search_btn:hover {
  background: #6e41ec;
}

.search_btn:active {
  transform: scale(.97);
}